<div class="col-12">
    <h1>Analytics</h1>
    <hr>
    <div class="row">
        <div class="col-md-8 text-center">
            <label class="badge badge-success">Sessions</label>
            <div id="adsChart"></div>
        </div>
        <div class="col-md-4 text-center">
            <label class="badge badge-success">Total Intents</label>
            <div id="qaTotal"></div>
        </div>
    </div>
</div>