<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <header>
        <% include ../../partials/header %>
    </header>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    
                </li>
                <select id="depSelect" class="breadcrumb-item ml-auto">
                    <option>All Departments</option>
                    <option>IT</option>
                    <option>HR</option>
                    <option>OPS</option>
                    <option>A&D</option>
                </select>
            </ol>
            <div class="row">
                <% include cards %>
                <% include charts %>
                <% include intents %>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->

        <% include ../../partials/footer %>


</body>

</html>