<div class="col-12">
    <h1>Top Intents</h1>
    <hr>
    <table id="tiTable" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Intent</th>
                <th scope="col">Sessions</th>
                <th scope="col">Count</th>
                <th scope="col">Agent response time</th>
                <th scope="col">Department</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Support Times</td>
                <td>7</td>
                <td>27</td>
                <td>8.5sec</td>
                <td>IT</td>
            </tr>
            <tr>
                <td>Hello</td>
                <td>7</td>
                <td>217</td>
                <td>2.5sec</td>
                <td>HR</td>
            </tr>
            <tr>
                <td>support-number - country</td>
                <td>1</td>
                <td>89</td>
                <td>3.7sec</td>
                <td>IT</td>
            </tr>
        </tbody>
    </table>
</div>