  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

    <a class="navbar-brand" href="/"><img style="max-height:40px"class="navbar-brand" src="../../../../assets/svg/logo-dimension-data.svg" alt="logo">Bot Portal</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="sideNav">

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/dashboard/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
       <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Department">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#navUsers" data-parent="#sideNav">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Department</span>
          </a>
          <ul class="sidenav-second-level collapse" id="navUsers">
            <li>
              <a href="/department/5abea0315abfbb0b50afdc0e/">Test Department</a>
            </li>
            <li>
              <a href="/department/team/">Team</a>
            </li>
            <li>
              <a href="/department/activity-logs/">Logs</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bot Growth">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#navBot" data-parent="#sideNav">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Bot Growth</span>
          </a>
          <ul class="sidenav-second-level collapse" id="navBot">
            <li>
              <a href="/department/intents">Intents</a>
            </li>
            <li>
                <a href="/department/entities/">Entities</a>
            </li>
            <!--
            <li>
              <a href="/bot-growth/train">Training</a>
            </li>
             -->
            <li>
              <a href="/department/test/">Test Bot</a>
            </li>
          </ul>
        </li>
        <!--
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bot Home Page">
          <a class="nav-link" href="/guide/">
            <i class="fa fa-fw fa-graduation-cap"></i>
            <span class="nav-link-text">Bot Guide Page</span>
          </a>
        </li>
         -->
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/config/">
            <i class="fa fa-fw fa-cog"></i>Config</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
